.Select--color-danger {
    background-color: #fff;
    border-color: #ff3860;
}
.Select--color-danger:active,
.Select--color-danger:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}
