.Select--color-warning {
    background-color: #fff;
    border-color: #ffdd57;
}
.Select--color-warning:active,
.Select--color-warning:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}
