.logbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}
.logbox-left {
  width: 250px;
  margin-right: 16px;
}
.logbox-filter {
  box-shadow: 0 2px 4px 0 rgba(30, 55, 90, 0.1);
  border: 1px solid rgba(30, 55, 90, 0.1);
  border-radius: 4px;
  padding-bottom: 8px;
}
.logbox-filter-header {
  padding: 8px;
  border-bottom: 1px solid rgba(30, 55, 90, 0.1);
  margin-bottom: 8px;
  font-weight: 700;
  overflow: hidden;
}
.logbox-filter label {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}
.logbox-filter label svg {
  margin-right: 8px;
}
.logbox-filter label.logbox-filter__selected {
  background-color: rgba(30, 55, 90, 0.1);
}
.logbox-filter label:last-child {
  margin-bottom: 0;
}

.logbox-filter label input {
  margin-right: 5px;
}
.logbox-log {
  width: calc(100% - 210px);
  padding: 16px;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  font-family: Roboto Mono, monospace;
  font-weight: 300;
  background-color: #1e375a;
  border-radius: 6px;
  box-shadow: 0 0 8px 1px #e8eaed;
  box-sizing: border-box;
}

.logbox-log-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  width: auto;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  z-index: 50;
  box-shadow: none;
  overflow: auto;
}

.logbox-log-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logbox-log-header-title {
  color: #fff;
  font-weight: 700;
}
.logbox-log-header-actions button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.logbox-log-header-actions button:last-child {
  margin-right: 0;
}
.logbox-log-header-actions button svg {
  fill: #fff;
}
.logbox-log table {
  line-height: 26px;
}

.logbox-log table .pos {
  padding: 0 10px 0 0;
  color: #8c96a1;
  user-select: none;
  white-space: nowrap;
  width: 1px;
  vertical-align: top;
}

.logbox-log table .text {
  word-break: break-all;
  padding-right: 15px;
}
