.Input--color-default {
    border-color: #dbdbdb;
}
.Input--color-default:hover {
    border-color: #b5b5b5;
}
.Input--color-default:active,
.Input--color-default:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}
